---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <h1>About Me</h1>
    <h2>And my new Astro site</h2>
    <p>
      I am working through Astro's intro tutorial, this is the second page on my
      website
    </p>
    <p>This site will update as I complete more of the tutorial</p>
    Picture + short bio, resume summary
  </main>
</Layout>
