---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header class="py-4">
  <nav class="flex items-center justify-between">
    <div>
      <h3 class="text-xl">Minhacks</h3>
    </div>
    <div class="flex gap-4">
      <div>About</div>
      <div>Github link</div>
      <div>Linkedin link</div>
    </div>
    <!-- <Hamburger /> -->
    <!-- <ThemeIcon /> -->
    <!-- <Navigation /> -->
  </nav>
</header>
