---
import Hamburger from "./Hamburger.astro";
import ResponsivePageContainer from "./ResponsivePageContainer.astro";
---

<header
  class="w-screen flex justify-center bg-neutral text-white border-b-1 border-b-base-content"
>
  <ResponsivePageContainer>
    <nav class="py-4 flex items-center justify-between">
      <div class="flex gap-6 items-center">
        <a href="/">
          <div class="flex gap-1 sm:gap-2 cursor-pointer">
            <img class="w-5 sm:w-6" src="/favicon.svg" />
            <h3 class="text-xl sm:text-2xl">Minhacks</h3>
          </div>
        </a>
      </div>
      <div class="sm:hidden">
        <Hamburger />
      </div>
      <div class="hidden sm:flex gap-6 items-center">
        <a href="/about">About</a>
        <a href="/services">Services</a>
        <a href="/contact">Contact</a>
      </div>
    </nav>
  </ResponsivePageContainer>
</header>

<style>
  .filter-white {
    filter: brightness(0) saturate(100%) invert(98%) sepia(96%) saturate(5%)
      hue-rotate(204deg) brightness(104%) contrast(101%);
  }
</style>
