---
import ArrowLongRight from "./ArrowLongRight.astro";
import ResponsivePageContainer from "./ResponsivePageContainer.astro";
---

<div
  class="w-screen h-[200px] lg:h-[600px] flex items-center justify-center min-h-80 bg-neutral text-white"
>
  <ResponsivePageContainer>
    <div class="flex flex-col gap-2">
      <div class="w-[90%] lg:w-4xl">
        <h1 class="text-3xl leading-[1.4] md:text-4xl lg:text-6xl">
          Small business, big web presence — right here in South Bay
        </h1>
      </div>
      <div class="text-right">
        <button class="btn btn-primary">Let's Chat <ArrowLongRight /></button>
      </div>
    </div>
  </ResponsivePageContainer>
</div>
