---
import { LinkType } from "./Link";
import Link from "./Link.astro";
import ResponsiveHeading from "./ResponsiveHeading.astro";
import ResponsivePageContainer from "./ResponsivePageContainer.astro";
---

<div class="w-screen flex items-center justify-center">
  <ResponsivePageContainer>
    <div class="flex flex-col">
      <div class="my-12 md:my-20 w-60 sm:w-auto">
        <ResponsiveHeading def="text-4xl" md="md:text-5xl" lg="lg:text-7xl">
          Our Process, Your Growth
        </ResponsiveHeading>
      </div>
      <div class="md:text-lg max-w-200">
        <div>
          Your website should work as hard as you do. We use modern design
          principles to create a professional website to attract your customer
          base. You'll be involved at every step, from initial design concepts
          to final launch, ensuring your website perfectly captures your vision.
        </div>
        <div class="my-16">
          <Link
            linkType={LinkType.External}
            linkText="Get started"
            url="https://calendly.com/minhacks/free-consultation"
          />
        </div>
      </div>
    </div>
  </ResponsivePageContainer>
</div>
